
<ion-content fullscreen>
  <div class="h-full relative bg-teal-100 text-gray-800">
    <div class="p-2 absolute top-0 right-0 text-white font-semibold text-lg z-10">
      <button class="px-4 py-2 rounded bg-gray-400 bg-opacity-75 shadow-md" (click)="closeModal()">
        CLOSE
      </button>
    </div>
    <div class="w-full h-full bg-yellow-400">
      <video [ngIf]="stream" #video class="w-full h-full" controls autoplay playsinline [muted]="true"></video>
    </div>
  </div>
</ion-content>
