<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen>
  <div class="h-full relative bg-teal-100 text-gray-800">
    <div class="p-2 absolute top-0 right-0 text-white font-semibold text-lg">
      <button class="px-4 py-2 rounded bg-gray-400 bg-opacity-75 shadow-md" (click)="closeModal()">
        CLOSE
      </button>
    </div>
    <div class="w-full h-full bg-yellow-400">

    </div>
  </div>
</ion-content>
