<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="h-full flex flex-col">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Janus play</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="p-4 bg-teal-100 flex-grow flex flex-col text-gray-800 space-y-2">
      <div>Status: {{ status }}</div>
      <form class="flex-grow flex flex-col justify-center space-y-2" (submit)="submit($event)">
        <div>
          <div class="px-4 border rounded border-blue-400">
            <ion-input #room required placeholder="RoomID"></ion-input>
          </div>
          <div class="text-red-500">{{ errorMessage}}</div>
          <ion-button expand="block" type="submit">Play</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
