<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="h-full flex flex-col">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Janus play</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="p-4 bg-teal-100 flex-grow flex flex-col text-gray-800 space-y-2">
      <div>Status: {{ status }}</div>
      <ion-radio-group *ngIf="rooms !== null" (ionChange)="onSelect($event)">
        <ion-item *ngFor="let room of rooms">
          <ion-label>{{ room }}</ion-label>
          <ion-radio slot="end" [value]="room"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <div *ngIf="rooms?.length === 0">No room</div>
      <div>
        <ion-button expand="block" (click)="ready()">Reload</ion-button>
        <ion-button [disabled]="room === null" expand="block" (click)="submit()">Play</ion-button>
      </div>
    </div>
  </div>
</ion-content>
